/* Global Selectors*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Judson", serif;
  font-size: 20px;
  box-sizing: border-box;
}

p {
  margin: 0 auto 1em;
  line-height: 2;
  text-align: justify;
}

hr {
  height: 10px;
  border: 2px solid darkgray;
  border-left: none;
  border-right: none;
}

/* Section body */
section {
  padding: 30px 3% 0;
  text-align: center;
  margin: 0 auto;
  max-width: 850px;
}

/* Header */
header {
  background-color: black;
  border-bottom: 3px solid darkgray;
  position: fixed;
  transition: height 0.5s ease;
  height: 100px;
  width: 100%;
}

/* Nav bar */
header .logo {
  font-family: "Caveat", cursive;
  letter-spacing: 10px;
  color: white;
  font-size: 2.8rem;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.top-nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.top-nav li {
  margin-left: 20px;
}

.top-nav a {
  color: rgb(211, 211, 211);
  text-shadow: 2px 2px 10px black;

  text-align: center;
  font-family: "Quando", serif;
  text-decoration: none;
  font-size: 0.8rem;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 30px;
  font-family: "Caveat", cursive;
  color: black;
  background-color: rgb(211, 211, 211);
  margin-left: 15px;
  box-shadow: 0px 0px 20px white;
  font-size: 1.4rem;
}

/* Nav Burger */
.top-nav-burger {
  display: none;
}

.line {
  width: 35px;
  height: 2px;
  margin: 7px 0;
  background-color: rgb(211, 211, 211);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Mobile Nav */
.show-menu {
  height: 50vh;
}

.show-menu .top-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: 20px;
  height: 100%;
  width: auto;
}

.top-nav a {
  margin-left: 0px;
}

.show-menu button {
  margin-left: 0;
}

.show-menu .top-nav-burger {
  display: block;
}

.show-menu .line-top {
  transform: translateY(9px) rotate(45deg);
}

.show-menu .line-mid {
  opacity: 0;
}

.show-menu .line-bot {
  transform: translateY(-9px) rotate(-45deg);
}

.top-nav a:hover {
  font-style: italic;
}

/* Main section. Includes "Hero Image", "About me", "Education", "Work" and "Interests & Hobbies" */
/* Hero Image */
main {
  padding-top: 100px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/headshot.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Hero contents */
.hero-contents {
  display: flex;
  height: 50%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
/* Hero contents - H1 */
.hero-image h1 {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  font-weight: normal;
  color: white;
}

/* Hero contents - H2 */
.hero-image h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

/* Hero contents - 1st p */
.hero-image p {
  color: white;
  padding-bottom: 30px;
  text-align: center;
  line-height: 1.2;
}

/* Hero contents - 2nd p */
#in-construction {
  font-weight: normal;
  font-size: 0.6rem;
  font-style: italic;
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 0;
  line-height: 1.2;
}

/* H2 - Section separators */
.separator {
  text-align: left;
  color: white;
  display: block;
  padding-top: 100px;
}

h2 span {
  font-family: "Quando", serif;
  font-size: 1.4rem;
  padding: 3px 15px 3px 40px;
  background-color: black;
}

/* About me section */
.gallery img {
  max-height: 200px;
  margin: 5px 5px;
  transition: transform 0.2s;
}

.gallery-caption,
.click-enlarge {
  font-style: italic;
  font-size: 0.8rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 0;
}

.modal,
.click-enlarge {
  display: none;
}

/* Education section */
section ul {
  text-align: left;
  line-height: 2;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 1em;
}

.edu-logo {
  margin: 15px 0 5px;
}

/* Work section */
.responsive {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  border: 1px solid darkgrey;
}

.date-range {
  text-align: center;
  font-weight: bold;
  margin: 30px 0 5px 0;
  padding: 0 5px;
  border: 1px solid darkgrey;
  display: inline-block;
}

/* Interests & Hobbies section */
/* Social icons */
.social-icons img {
  height: 34px;
  width: 34px;
}

ul.social-icons {
  text-align: center;
  list-style: none;
  padding: 0px;
  display: block;
}

ul.social-icons li {
  display: inline-block;
  margin: 0px 15px;
}

/* Footer */
footer {
  padding-top: 30px;
  text-align: center;
}

footer ul {
  margin: 70px 0;
}

footer p {
  text-align: center;
  color: darkgray;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 0;
  margin: 15px 0px 15px 0px;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 789px) {
  .gallery img {
    width: 85vw;
    height: auto;
    max-height: max-content;
    margin: 5px auto;
  }

  .top-nav-links {
    display: none;
  }

  .top-nav-burger {
    display: block;
  }

  .close-button {
    display: none;
  }
}

@media only screen and (min-width: 790px) {
  .gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .click-enlarge {
    display: block;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
  }

  .modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 630px;
    /* Add Animation - Zoom in the Modal */
    animation-name: zoom;
    animation-duration: 0.6s;
  }

  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  /* The Close Button */
  .close {
    display: inline-block;
    text-align: center;
    margin: 2px auto 0;
    padding: 0 20px;
    color: white;
    font-size: 1.7rem;
    font-family: "Indie Flower", cursive;
    transition: 0.3s;
  }

  .close:hover,
  .close:focus {
    color: rgb(151, 151, 151);
    text-decoration: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 350px) {
  .show-menu .logo {
    display: none;
  }

  .show-menu .top-nav-links {
    margin: 0 20px 0 auto;
  }
}
