/* Global Selectors*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Judson", serif;
  font-size: 20px;
  box-sizing: border-box;
}

p {
  margin: 0 auto 1em;
  line-height: 1.5;
  text-align: justify;
}

hr {
  height: 10px;
  border: 2px solid darkgray;
  border-left: none;
  border-right: none;
}

/* Section body */
section {
  text-align: center;
  margin: 0 auto;
  width: 95vw;
  max-width: 850px;
}

/* Header */
header {
  background-color: black;
  border-bottom: 3px solid darkgray;
  position: fixed;
  transition: height 0.5s ease;
  height: 60px;
  width: 100%;
}

/* Nav bar */
#logo {
  margin: 0;
  align-self: center;
}

#logo a {
  font-family: "Caveat", cursive;
  letter-spacing: 10px;
  color: white;
  font-size: 2.8rem;
  margin: 0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.top-nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  align-items: center;
}

.top-nav li {
  margin-left: 20px;
}

.top-nav a {
  color: rgb(211, 211, 211);
  text-shadow: 2px 2px 10px black;
  text-align: center;
  font-family: "Quando", serif;
  text-decoration: none;
  font-size: 0.8rem;
}

button {
  border: none;
  padding: 2px 10px;
  border-radius: 30px;
  font-family: "Caveat", cursive;
  color: black;
  background-color: rgb(211, 211, 211);
  margin-left: 15px;
  box-shadow: 0px 0px 20px white;
  font-size: 1.4rem;
}

/* Nav Burger */
.top-nav-burger {
  display: none;
  align-self: flex-start;
  margin-top: 12px;
}

.line {
  width: 35px;
  height: 2px;
  margin: 7px 0;
  background-color: rgb(211, 211, 211);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Mobile Nav */
.show-menu {
  height: 100vh;
}

.show-menu .top-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: 20px;
  height: 100%;
  width: auto;
}

.top-nav a {
  margin-left: 0px;
}

.show-menu button {
  margin-left: 0;
}

.show-menu .line-top {
  transform: translateY(9px) rotate(45deg);
}

.show-menu .line-mid {
  opacity: 0;
}

.show-menu .line-bot {
  transform: translateY(-9px) rotate(-45deg);
}

.top-nav-links a:hover {
  font-style: italic;
}

/* Main section. Includes "Hero Image", "About me", "Education", "Work" and "Interests & Hobbies" */
/* Hero Image */
main {
  padding-top: 60px;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/headshot.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* Hero contents */
.hero-contents {
  display: flex;
  height: 50%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}
/* Hero contents - H1 */
.hero-image h1 {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  margin: 0 0 20px;
}

/* Hero contents - H2 */
.hero-image h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

/* Hero contents - 1st p */
.hero-image p {
  color: white;
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.2;
}

/* Hero contents - 2nd p */
#in-construction {
  font-weight: normal;
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
  line-height: 1.2;
  margin: 0;
}

/* H2 - Section separators */
.separator {
  text-align: left;
  color: white;
  display: block;
  padding-top: 60px;
  margin-bottom: 30px;
}

h2 span {
  font-family: "Quando", serif;
  font-size: 1.3rem;
  padding: 3px 15px 3px 40px;
  background-color: black;
}

/* Galleries */
.gallery {
  flex-direction: column;
  align-items: center;
}

.gallery-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin-top: -2px;
  margin-bottom: 2px;
}

.gallery-images img {
  width: 85px;
  cursor: pointer;
  margin: 2px;
}

.gallery-images img:hover {
  box-shadow: 2px 2px 3px rgb(139, 139, 139);
}

.gallery-expanded {
  display: flex;
  flex-direction: column;
}

.expanded-img {
  width: 100%;
  height: auto;
}

.caption,
#project-gallery a p {
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  margin: 0;
  line-height: 1.2;
}

/* Education section */
section ul {
  text-align: left;
  line-height: 1.5;
  margin-left: 10%;
  margin-bottom: 1em;
}

.edu-logo {
  margin: 15px 0 5px;
}

.education p:not(:nth-child(6)) {
  border-bottom: 2px dashed black;
  padding-bottom: 10px;
}

/* Work section */
.grid-container {
  display: grid;
  grid-template: auto / auto;
  gap: 20px;
  justify-items: center;
  align-items: center;
}

.grid-container p {
  align-self: flex-start;
}

h3 {
  font-weight: bold;
  font-size: 1.2rem;
  align-self: center;
  margin-bottom: 10px;
}

.portrait {
  height: 250px;
}

.landscape {
  width: 200px;
}

.grid-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 2px dashed black;
}

.grid-container ul {
  text-align: left;
  list-style: none;
  margin-left: 0;
}

.grid-container ol {
  margin-left: 18px;
}

#level3-list {
  list-style: disc;
  margin-left: 20px;
}

#level3-list li {
  border: none;
  padding-left: 0px;
  margin-bottom: 0;
}

.grid-container li li {
  border-left: 1px solid black;
  padding-left: 10px;
}

.grid-container li:not(:last-child) {
  margin-bottom: 15px;
}

.grid-container span {
  text-decoration: underline;
}

/* Portfolio Section */
#web-development {
  margin-top: 50px;
}

#project-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#project-gallery a {
  width: 45%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
}

.web-dev-img {
  width: 100%;
  border: 1px solid black;
}

.web-dev-img:hover {
  box-shadow: 2px 2px 3px rgb(139, 139, 139);
}

/* Social icons */
.social-icons img {
  height: 34px;
  width: 34px;
  box-shadow: 0px 0px 20px black;
  border-radius: 50%;
  cursor: pointer;
}

ul.social-icons {
  text-align: center;
  list-style: none;
  padding: 0px;
  display: block;
}

ul.social-icons li {
  display: inline-block;
  margin: 0px 15px;
}

/* Footer */
footer {
  text-align: center;
}

footer ul {
  margin: 70px 0;
}

footer p {
  text-align: center;
  color: darkgray;
  font-style: italic;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 0;
  margin: 15px 0px 15px 0px;
}

@media only screen and (max-width: 789px) {
  .top-nav-links {
    display: none;
  }

  .top-nav-burger {
    display: block;
  }

  .close-button {
    display: none;
  }
}

@media only screen and (max-width: 374px) {
  .show-menu #logo {
    display: none;
  }

  .show-menu .top-nav-links {
    margin: auto;
  }
}
