body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header section. Includes top nav, hero image, hero contents */
header {
  text-align: center;
  color: white;
}
/* Hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/headshot.jpeg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
/* Hero contents */
/* Hero contents - H1 */
.hero-contents h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  font-weight: normal;
  margin-top: 6em;
  margin-bottom: 0px;
  padding: 0px;
}

/* Hero contents - H2 */
.hero-contents h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}

/* Hero contents - 1st p */
.hero-contents p {
  font-weight: bold;
  color: darkgray;
  padding: 0px 0px 100px 0px;
  margin-top: 10px;
}

/* Hero contents - 2nd p */
#in-construction {
  font-weight: normal;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 20px 0px;
}

/* Navigation */
.top-nav ul {
  display: inline-block;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.top-nav ul li {
  display: block;
  position: relative;
  float: left;
  text-align: center;
  padding: 0px 20px 0px 20px;
}

.top-nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin-left: 4px;
  white-space: nowrap;
}

/* Main section. Includes "Who am I?", "What have I been doing?" and "What do I like to do?" */
/* H2 - Section separators */
section {
  padding: 20px 0px;
}

.separator {
  width: 75%;
  text-align: center;
  color: darkgray;
  border-bottom: 2px solid darkgray;
  line-height: 0.1em;
  margin: 50px auto 50px;
  padding: 0px 0px;
  white-space: nowrap;
}

.separator span {
  background: white;
  position: relative;
  padding: 15px 30px;
}

/* Section body */
main p {
  line-height: 2;
  margin: 0 10% 0;
}

.responsive {
  display: block;
  margin: 10px auto;
  max-width: 75%;
  height: auto;
}

/* Footer */

/* Social icons */
.social-icons img {
  height: 34px;
  width: 34px;
}

ul.social-icons {
  text-align: center;
  list-style: none;
  padding: 0px;
  display: block;
}

ul.social-icons li {
  display: inline-block;
  margin: 0px 15px;
}

hr {
  color: darkgray;
}

footer p {
  text-align: center;
  color: darkgray;
  font-style: italic;
  font-size: 15px;
  padding: 0;
  margin: 0px 0px 15px 0px;
}
